@import "parts/test";

$border-blue: #2699FB;
$bg-blue: #0b7fff;
$box-header: #BCE0FD;

.navbar.navbar-blue {
    background: $bg-blue;
}

.container.app-cover-container {
    padding-top: 40px;
    padding-bottom: 20px;

    .modal-dialog {
        .modal-content {
            color: $border-blue;
            padding-top: 20px;
            padding-left: 20px;

            .modal-header {
                border-bottom: 1px solid white;
            }

            .modal-footer {
                border-top: 1px solid white;
                margin-left: 10px;
            }
        }
    }
}









.app-cover-create {
    height: 138px;
    line-height: 78px;
    border-radius: 4px;
    border: 1px solid $border-blue;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 20px;

    * {
        color: $border-blue;
    }
}

.app-cover {
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    .header {
        color: $border-blue;
        background: $box-header;
        padding: 3px 20px;
    }

    .body {
        padding: 12px 20px;
        padding-bottom: 20px;

        .name {
            color: $border-blue;
            font-size: 20px;
            padding: 10px 0;
            font-weight: bold;
        }

        * {
            color: $border-blue;
        }
    }
}

.btn.btn-main {
    color: white;
    padding: 8px 40px;
    background: $border-blue;
    border-radius: 4px;

    &:hover {
        background: darken($border-blue, 10%);
    }
}

.btn.btn-main-wire {
    @extend .btn.btn-main;

    color: $border-blue;
    border: 1px solid $border-blue;
    background: white;

    &:hover {
        background: $border-blue;
        color: white;
    }
}

.form-group {
    label.label-blue {
        color: $border-blue;
    }
}

//content title(jessy)
.body-container {
    //margin-left: 300px;
    font-family: arial;

    .form-title {
        &,
        h1 {
            font-size: 30px;
            font-weight: bold;
            color: #2699fb;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }

    .form-group {
        input {
            border: 1px solid #2699fb;
            border-radius: 3px;
        }

        .btn-primary {
            background-color: #2699fb;
            border-radius: 5px;
            padding: 10px 28px;
            font-size: 14px;
            margin-top: 30px;
        }

        li {
            list-style: none;
            margin-left: -30px;

            .input-title {
                font-size: 16px;
                color: #2699fb;
                margin-top: 30px;
                margin-bottom: 5px;
            }
        }
    }

    .action-footer {
        margin-top: 40px;
    }
}

// Colors
$light-blue: #CFE8FC;
$dark-blue: #2699FB;
$white: white;

// Guide Bar
.guide-bar {
    z-index: -3;
    padding-left: 0;

    li {
        display: inline-block;
        width: 15%;
        height: 80px;
        position: relative;
        text-align: center;
        cursor: pointer;
        z-index: 0;

        &:before {
            content: "";
            width: 15px;
            height: 15px;
            background: $dark-blue;
            border: 5px solid $white;
            border-radius: 100%;
            display: block;
            text-align: center;
            margin: 18 auto 10px auto;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $light-blue;
            top: 25px;
            left: calc(-50% + 3px);
            z-index: -2;
        }

        &:first-child:after {
            content: none;
        }

        &.active {
            color: $dark-blue;

            .title {
                font-weight: bold;
            }
        }

        &.active:before {
            width: 45px;
            height: 45px;
            background: #0b7fff; // line-height: 30px;
            border: 20px solid $light-blue;
            border-radius: 100%;
            margin: 0 auto 10px auto;
            margin-top: 3px;
            z-index: 99;
        }

        .title {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            text-align: center;
            color: $dark-blue;
        }
    }

    li.active+li:after {
        background-color: $dark-blue;
        left: calc(-50% + 18px);
    }
}

#code-editor {
    width: 100%;
    height: 50%;
}

.topology-group {
    margin-top: 50px;
    padding-left: 0;

    li {
        list-style: none;
        display: inline-block;
        width: 30.33%;
        position: relative;

        .title {
            width: 150px;
            height: 150px;
            color: #2699FB;
            line-height: 150px;
            border: 1px solid #2699FB;
            border-radius: 3%;
            display: block;
            text-align: center;
            background-color: white;
        }

        .note {
            position: absolute;
            bottom: 1px;
            height: 30px;
            line-height: 30px;
            border-radius: 0 0 4px 4px;
            left: 1px;
            width: 148px;
            background: $light-blue;
            text-align: center;
            color: $dark-blue;
            font-weight: bold;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #2699fb;
            top: 50%;
            left: 40%;
            z-index: -1;
        }
    }

    li:first-child {
        margin-left: 0;
    }

    li:last-child:after {
        content: none;
    }
}

$border: #BCE0FD;
$dark: #848484;

.result-table {
    ul.result-table-head {
        background: $light-blue;
        padding: 20px;
        margin: 0;
        margin-top: 20px;

        li {
            list-style: none;
            display: inline-block;
            width: 24%;
            text-align: center;
            color: $dark-blue;

            .title {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }

    .result-table-body {
        background: white;
        border: 1px solid $border;

        * {
            color: $dark;
        }

        .row {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .result-table-stats {
        padding: 30px;

        .title {
            font-weight: bold;
        }
    }
}

//dryrun plan
.plan-form {
    background: white;
    border-radius: 4px;
    margin-left: 15px;

    .form-title {
        margin-top: 0 !important;

        .col-12 {
            background: $light-blue;
            padding: 10px 15px;
        }

        color: $border-blue;
        font-weight: bold;
        font-size: 16px;
    }

    .form-title:first-child {
        .col-12 {
            border-radius: 4px 4px 0 0;
        }
    }

    * {
        color: $border-blue;
    }

    .title {
        padding: 5px 15px;
    }

    .stats {
        padding: 5px 0;
    }
}